-
	var title = "Effective Forms Advertising Internet Web Site"
	var subtitle = "Make Money Online Through Advertising"
	var avatar = "/asset/image/image.jpg"
	var name = "Lora Stevenson"
	var date = "Aug 15"

.block-one
		.block-title=title
		.block-subtitle=subtitle
		.block-user__wrapper
			.block-avatar
			.block-detail__wrapper
				.block-name=name
				.block-date=date
			.block-icon
