doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title blog blocks
    link(rel="stylesheet", href="blog-blocks.css")
  body
    h1 blog-blocks
