html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    title badge
    link(rel='stylesheet', href='badges.css')
  body
    ul
      li.flexa Badge
      li.flexb Badge
      li.flexc Badge
      li.flexd Badge
      li.flexe Badge
      li.flexf Badge
      li.flexg Badge
      li.flexh Badge
      li.flexi Badge
      li.flexj Badge
      li.flexk Badge
    ul
      li.flex1 Badge
      li.flex2 Badge
      li.flex3 Badge
      li.flex4 Badge
      li.flex5 Badge
      li.flex6 Badge
      li.flex7 Badge
      li.flex8 Badge
      li.flex9 Badge
      li.flex10 Badge
      li.flex11 Badge
    ul
      li.flex12 Badge
      li.flex13 Badge
      li.flex14 Badge
      li.flex15 Badge
      li.flex16 Badge
      li.flex17 Badge
      li.flex18 Badge
      li.flex19 Badge
      li.flex20 Badge
      li.flex21 Badge
      li.flex22 Badge
    ul
      li.flex23 Badge
      li.flex24 Badge
      li.flex25 Badge
      li.flex26 Badge
      li.flex27 Badge
      li.flex28 Badge
      li.flex29 Badge
      li.flex30 Badge
      li.flex31 Badge
      li.flex32 Badge
      li.flex33 Badge
