@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap';


body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.board-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: fit-content(50px) 15px 15px;
  grid-gap: 10px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  background-color: white;
  padding: 25px;
}

.h-title {
  grid-column: 1/-1;
  line-height: 30px;
  font-size: 16px;
  color: #808080;
  margin: 0;
}

.user-full-name {
  grid-column: 2/3;
  font-size: 13px;
  color: #808080;
  margin: 0;
}

.posting-date {
  grid-column: 2/3;
  margin: 0;
  color: #B3B3B3;
  font-size: 12px;
}

.icon-bookmark {
  grid-column: 3/4;
  grid-row: 2/4;
  align-self: center;
}

.board:nth-child(2) {
  background-image: url(asset/nice-image.png);
  background-size: cover;
  background-position: center;
}

.board:nth-child(2) .h-title {
  color: white;
}

.board:nth-child(2) .user-full-name {
  color: white;
}

.board:nth-child(2) .posting-date {
  color: white;
  opacity: .6;
}

.board:nth-child(2) .icon-bookmark {
  opacity: .3;
}



