doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title I am brave, I am Mihaela 009!
  link(rel="stylesheet", href="index.css")
body
  .main-box
    .images-container
      h1.images-title Effective Forms Advertising Internet Web Site
      p.images-subtitle Make Money Online Through Advertising
      .images-avatar
      .images-name Lora Stevenson
      .images-date Aug 15
      .images-icon
  .main-box
    .images-container2
      h1.images-title Comment On The Importance Of Human Life
      p.images-subtitle Dude You Re Getting A Telescope
      .images-avatar2
      .images-name Ivan Jimenez
      .images-date May 18
      .images-icon
