doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title Document
  body
    .article-wrapper
      .card1
        p ok
      .card2
      .card3
      .card4
