doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet")

    title Document
  body
    .article-wrapper
      .card1
        .avatar2
        .main-title Comment On The Importance Of Littles And Beer.
          .subtitle Dude You Re Getting A Telescope.
          .name Ivan Turbincă.
          .age May 18.
        .spok
    .second-guy
      .guy1
        .picture1
        button.button Follow
        .main-title1 Phoebe Bridges
          span.span_1 44
            span.span_2 Following
            span.span_3 55
                span.span_4 Followers
    .girl
      .girl1
        .picture2
        button.button Follow
        .main-title2 Serghey Mizill
          span.span_1 10
            span.span_2 Following
            span.span_3 1234
                span.span_4 Followers
    .last
      .last1
        .picture3
        button.button Follow
        .main-title3 Lewis Pena
          span.span_1 98
            span.span_2 Following
            span.span_3 34
                span.span_4 Followerss