doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet")

    title Document
  body
    .article-wrapper
      .card1
        .avatar2
        .main-title Comment On The Importance Of Littles And Beer.
          .subtitle Dude You Re Gettning A Telescope.
          .name Ivan Turbincă.
          .age May 18.
        .spok
    .second-guy
      .guy1
        .picture1
        .button Follow
