.block-two {
  background-image: url(/asset/image/bogdan-negura/image2.png);
  justify-content: flex-start;
  height: 150px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  & .block-avatar {
    background-image: url(/asset/image/bogdan-negura/avatar2.png);
  }

  & .block-name {
    color: white;
    opacity: 0.6;
  }

  & .block-date {
    opacity: 0.3;
  }
}
