-
	var title = "Comment On The Importance Of Human Life"
	var subtitle = "Dude You Re Getting A Telescope"
	var avatar = "/asset/avatar"
	var name = "Ivan Jimenez"
	var date = "May 18"

.block-two
		.block-title=title
		.block-subtitle=subtitle
		.block-user__wrapper
			.block-avatar
			.block-detail__wrapper
				.block-name=name
				.block-date=date
			.block-icon
