doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="style.css")
    title Robert's Simple article box.
  body
    .board-wrapper
      .board
        h1.h-title Effective Forms Advertising Internet Web Site
        .image-avatar
          img(src="/asset/image/robertoalx/avatar-boy.png", alt="Boy-face :D")
        p.full-name Randall Erickson
        p.posting-date Jun 21
        .icon-bookmark
          img(src="/asset/image/robertoalx/icon.png", alt="icon")

      .board
        h1.h-title The idea of God Is Not Henceforth Releveant
        .image-avatar
          img(src="/asset/image/robertoalx/avatar-girl.png", alt="Girl-face :D")
        p.full-name Elmar Adkins
        p.posting-date Jun 21
        .icon-bookmark
          img(src="/asset/image/robertoalx/icon.png", alt="icon")