html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title PUG-sass Solutions with Marian Zburlea
    link(rel="stylesheet", href="index.css")
  body
    h3 Badges with different colours, size and fills.
    hr
.column(span="row" height="10")
    ul.child__list
            li.badge.child__one Child One
            li.badge.child__two Child two
            li.badge.child__three Child three
            li.badge.child__four Child four
            //- li.badge.child__five Child five
            li.badge.child__six Child six
            li.badge.child__ugly Child ugly
            li.badge.child__smelly Smelly Child
            //- li.badge.child__hoppy Child hoppy
.column(span="row")
  hr
.footer Project in progress