doctype html
html
    head
        link(rel="stylesheet", href="./index.css")
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap' rel='stylesheet')
        title Large image with tall and normal article block
    body
        .block-wrapper
            include _component/block-one/block-one
            include _component/block-two/block-two


