doctype html
html
    head
        link(rel="stylesheet", href="./index.css")
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap' rel='stylesheet')
        title Large image with tall and normal article block
    body
        .block-wrapper
            h1.master-agile__title Block blocks
            include _component/block-one/block-one
            include _component/block-two/block-two
            h1.master-agile__title Follow Me List
            include _component/follow-me/follow-me


