.block-one,
.block-two {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  width: 540px;
  background-size: cover;
  background-position: center;
}

.block-title {
  font-size: 16px;
  color: white;
  margin: 0;
  padding-bottom: 6px;
  line-height: 30px;
  padding-bottom: 10px;
}

.block-subtitle {
  padding-bottom: 20px;
  font-size: 16px;
  color: white;
  opacity: 0.6;
}

.block-user__wrapper {
  display: flex;
}

.block-avatar {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.block-avatar {
  margin-right: 20px;
}

.block-name {
  color: #808080;
  font-size: 13px;
}

.block-date {
  color: white;
  opacity: 0.6;
}

.block-icon {
  content: "";
  background-image: url(/asset/image/bogdan-negura/icon.png);
  border-radius: 50%;
  margin-left: 310px;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
}
