doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title I am brave, I am Mihaela 009!
    link(rel="stylesheet", href="style.css")
  body
    .card-wrapper 
      .articles-wrapper
        p.articles-title The Idea Of God Is Not Henceforth Relevant
        .articles-name Elmer Adkins
        .articles-date Jun 21
        .articles-avatar
        .articles-icon
      .articles-wrapper2
        p.articles-title2 Effective Form Advertising Internet Web Site
        .articles-name2 Randall Erickson
        .articles-date2 Jun 21
        .articles-avatar2
        .articles-icon2