doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title I am brave, I am Mihaela 009!
    link(rel="stylesheet", href="style.css")
  body
    .card-wrapper 
      .articles-wrapper
        p.articles-title Effective Forms Advertising Internet Web Site
        .articles-name Randall Erickson
        .articles-date Jun 21
        .articles-avatar
        .articles-icon